<div class="col-xs-12 reset ticket-details-container">
  <div class="col-xs-12 reset title">
    Expense Details
  </div>
  <div class="col-xs-12 reset ticket-data-container" [style.overflow-y]="showImage ? 'hidden':'auto'" id="ticketdata">
    <div class="image" *ngIf="showImage && imgSrc !== ''">
      <img [src]="imgSrc" />
    </div>
    <embed class="image" [src]="pdfSrc" *ngIf="showImage && pdfSrc !== ''" />
    <span class="close-image" *ngIf="showImage" (click)="showImage=false;imgSrc='';pdfSrc='';">
      <i class="fa fa-times"></i>
    </span>
    <div>
      <div class="label-text">Expense Id:</div>
      <div class="data">
        {{ticket.id}}
      </div>
    </div>
    <div>
      <div class="label-text">Created By:</div>
      <div class="data">
        <div>
          {{ticket.createdBy.name}} (<span class="bold">{{ticket.createdBy.empId}}</span>)
        </div>
        <div>
          {{ticket.createdBy.email}}
        </div>
        <div>
          {{ticket.createdBy.contact}}
        </div>
      </div>
    </div>
    <div>
      <div class="label-text">Request Type:</div>
      <div class="data">
        {{ticket.type}}
      </div>
    </div>
    <div>
      <div class="label-text">ِAmount:</div>
      <div class="data bold">
        {{ticket.amount}}
      </div>
    </div>
    <div>
      <div class="label-text">Status:</div>
      <div class="data">
        <div>
          {{displayNames[ticket.status]}}
        </div>
        <div class="status" [ngClass]="ticket.status === 'rejected' ? 'rejected' : (ticket.status === 'pendingForCorrection' ? 'correction' : '')">
          <span class="done"></span>
          <span [ngClass]="ticket.status === 'pendingWithFinance' || ticket.status === 'completed' || ticket.status === 'rejected' ? 'done' : ''"></span>
          <span [ngClass]="{'done' : ticket.status === 'completed' || ticket.status === 'rejected'}"></span>
        </div>
      </div>
    </div>
    <div>
      <div class="label-text">Uploaded Documents:</div>
      <div class="data">
        <div class="file" *ngFor="let doc of ticket.evidenceDocs;">
          <div class="text-underline cp file-name" (click)="showFile(doc)">
            {{doc.filename}} ({{doc.size}})
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="label-text">Created On:</div>
      <div class="data">
        {{ticket.createdOn}}
      </div>
    </div>
    <div>
      <div class="label-text">Last Modified On:</div>
      <div class="data">
        {{ticket.lastModificationDate}}
      </div>
    </div>
    <div>
      <div class="label-text">Comment:</div>
      <div class="data">
        <textarea class="form-control" cols="30" rows="5" [(ngModel)]="ticket.comment" style="resize: none;"
          [readOnly]="(userType === 'manager' && ticket.status === 'pendingWithFinance')
                      || (userType === 'finance' && ticket.status === 'pendingWithManager')"></textarea>
      </div>
    </div>
  </div>
  <div class="col-xs-12 reset actions">
    <div class="btn btn-success" (click)="closeDialog('approve')"
        *ngIf="(userType === 'finance' && ticket.status === 'pendingWithFinance') || (userType === 'manager' && ticket.status === 'pendingWithManager')">
        Approve
    </div>
    <div class="btn btn-warning" (click)="closeDialog('correction')"
        *ngIf="(userType === 'finance' && ticket.status === 'pendingWithFinance') || (userType === 'manager' && ticket.status === 'pendingWithManager')">
        Correction
    </div>
    <div class="btn btn-danger" (click)="closeDialog('reject')"
        *ngIf="(userType === 'finance' && ticket.status === 'pendingWithFinance') || (userType === 'manager' && ticket.status === 'pendingWithManager')">
        Reject
    </div>
    <div class="btn btn-info" (click)="closeDialog('delegate')"
        *ngIf="(userType === 'manager' && ticket.status === 'pendingWithManager')">
        Delegate
    </div>
    <div class="btn btn-default" (click)="closeDialog('closed')">Close</div>
  </div>
</div>
