.ticket-details-container {
  background-color: white;
  border-radius: 5px;
}

.ticket-details-container .title {
  color: white;
  background-color: hsl(200, 100%, 50%);
  font-size: 2rem;
  font-weight: bold;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px 5px 0 0;
}

.ticket-details-container .ticket-data-container {
  max-height: 400px;
  overflow-y: auto;
  padding: 15px 0 0 15px;
  position: relative;
}

.ticket-details-container .ticket-data-container .image {
  height: 400px;
  width: 100%;
  margin: -15px;
  position: absolute;
  top: 15px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  background-color: #9f9f9f;
  padding: 10px;
}

.ticket-details-container .ticket-data-container .close-image {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 16px;
  z-index: 2;
  background: red;
  border-radius: 5px;
  padding: 5px 10px;
}

.ticket-details-container .ticket-data-container .close-image i {
  color: white !important;
  cursor: pointer;
}

.ticket-details-container .ticket-data-container > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 32px;
  padding: 5px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.ticket-details-container .ticket-data-container > div .label-text,
.ticket-details-container .ticket-data-container > div .data {
  flex: 1;
}

.ticket-details-container .ticket-data-container > div .label-text {
  max-width: 160px;
  text-align: right;
  padding-right: 10px;
  color: #888;
}

.ticket-details-container .ticket-data-container > div .data {
  margin-right: 20px;
  color: #333;
}

.ticket-details-container .ticket-data-container > div .data .download {
  text-decoration: underline;
  color: hsl(200, 100%, 50%);
  padding-bottom: 10px;
  border-bottom: rgba(0, 0, 0, 0.05);
}

.ticket-details-container .ticket-data-container > div .data .status {
  padding: 20px 0 10px 0;
}

.ticket-details-container ::-webkit-scrollbar {
  width: 8px;
}

.ticket-details-container ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.ticket-details-container ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.ticket-details-container ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ticket-details-container .actions {
  padding: 15px 0 10px 0;
  text-align: right;
}

.ticket-details-container .actions > div {
  margin-right: 10px;
}

.ticket-details-panel .mat-dialog-container {
  padding: 5px !important;
  margin: 0 !important;
}

.ticket-details-panel .mat-dialog-title {
  display: block;
  margin: 0px !important;
}

.ticket-details-panel .mat-dialog-actions {
  display: block;
  margin-bottom: 0px;
  padding: 0px !important;
}

.ticket-details-container .ticket-data-container > div .status {
  --primary: hsl(200, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  counter-reset: count;
}

.ticket-details-container .ticket-data-container > div .status.rejected {
  --primary: red;
}

.ticket-details-container .ticket-data-container > div .status.correction {
  --primary: orange;
}

.ticket-details-container .ticket-data-container > div .status span {
  flex: 1;
  height: 8px;
  background-color: #f6f6f6;
  border: 1px solid var(--primary);
  margin-right: 40px;
  border-radius: 10px;
  position: relative;
}

.ticket-details-container .ticket-data-container > div .status span.done {
  background-color: var(--primary);
}

.ticket-details-container .ticket-data-container > div .status span::after {
  counter-increment: count;
  content: counter(count);
  position: absolute;
  top: -7.5px;
  right: -30px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.ticket-details-container .ticket-data-container > div .status span.done::after {
  color: white;
  background-color: var(--primary);
  content: '\f00c';
  font-family: 'FontAwesome';
}

.ticket-details-container .ticket-data-container > div .status.rejected span.done::after,
.ticket-details-container .ticket-data-container > div .status.correction span.done::after {
  content: '\f00d';
}

.ticket-details-container .file-name {
  text-decoration: underline;
  color: darkblue;
  cursor: pointer;
}
