<div class="col-xs-12 reset all-container">
  <div class="col-xs-12 reset header">
    <div class="col-xs-3 reset is-fav">
      <strong>
        Favourite Only:
      </strong>
      <label class="switch">
        <input type="checkbox" name="" id="" [(ngModel)]="onlyFav" (click)="updateTicketData()">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="col-xs-3 reset all-my-requests">
      <div class="category-box">
        <span class="request all" (click)="changeType('all')" [ngClass]="requestType === 'all' ? 'active': ''">All Requests</span>
        <span class="request my" (click)="changeType('my')" [ngClass]="requestType === 'my' ? 'active': ''">My Requests</span>
      </div>
    </div>
    <!-- <div class="col-xs-3 reset pull-right filters text-right">
      <strong>Filters</strong>
      <i class="fa fa-filter"></i>
      <div class="col-xs-12 reset show-filters" *ngIf="showFilters">
        <ul>
          <li>
            <a>
              <input type="checkbox" name="" id="">
              <span>
                {{displayNames.pendingWithManager}}
              </span>
            </a>
          </li>
          <li>
            <a>
              <input type="checkbox" name="" id="">
              <span>
                {{displayNames.pendingForCorrection}}
              </span>
            </a>
          </li>
          <li>
            <a>
              <input type="checkbox" name="" id="">
              <span>
                {{displayNames.pendingWithFinance}}
              </span>
            </a>
          </li>
          <li>
            <a>
              <input type="checkbox" name="" id="">
              <span>
                {{displayNames.rejected}}
              </span>
            </a>
          </li>
          <li>
            <a>
              <input type="checkbox" name="" id="">
              <span>
                {{displayNames.completed}}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="col-xs-6 reset search pull-right">
      <input type="text" placeholder="Search expense here..." [(ngModel)]="keySearch" />
      <i class="fa fa-search" *ngIf="keySearch === ''"></i>
      <i class="fa fa-times cp" *ngIf="keySearch !== ''" (click)="keySearch=''"></i>
    </div>
  </div>

  <div class="col-xs-12 reset filter-container">
    <div class="pendingWithManager">
      <input type="checkbox" class="pointer" [(ngModel)]="statusFilters.pendingWithManager" (change)="updateStatusFilters($event, 'pendingWithManager')">
      <span>
        Pending with Manager ({{getDataByStatus('pendingWithManager')}})
        <span class="pull-right pointer" (click)="filter('pendingWithManager')">
          <i class="fa fa-filter"></i>
        </span>
      </span>
    </div>
    <div class="pendingWithFinance">
      <input type="checkbox" class="pointer" [(ngModel)]="statusFilters.pendingWithFinance" (change)="updateStatusFilters($event, 'pendingWithFinance')">
      <span>
        Pending with Finance ({{getDataByStatus('pendingWithFinance')}})
      </span>
      <span class="pull-right pointer" (click)="filter('pendingWithFinance')">
        <i class="fa fa-filter"></i>
      </span>
    </div>
    <div class="pendingForCorrection">
      <input type="checkbox" class="pointer" [(ngModel)]="statusFilters.pendingForCorrection" (change)="updateStatusFilters($event, 'pendingForCorrection')">
      <span>
        Pending For Correction ({{getDataByStatus('pendingForCorrection')}})
        <span class="pull-right pointer" (click)="filter('pendingForCorrection')">
          <i class="fa fa-filter"></i>
        </span>
      </span>
    </div>
    <div class="completed">
      <input type="checkbox" class="pointer" [(ngModel)]="statusFilters.completed" (change)="updateStatusFilters($event, 'completed')">
      <span>
        {{displayNames.completed}} ({{getDataByStatus('completed')}})
      </span>
      <span class="text-white pull-right pointer" (click)="filter('completed')">
        <i class="fa fa-filter"></i>
      </span>
    </div>
    <div class="rejected">
      <input type="checkbox" class="pointer" [(ngModel)]="statusFilters.rejected" (change)="updateStatusFilters($event, 'rejected')">
      <span>
        {{displayNames.rejected}} ({{getDataByStatus('rejected')}})
      </span>
      <span class="pull-right pointer" (click)="filter('rejected')">
        <i class="fa fa-filter"></i>
      </span>
    </div>
  </div>

  <div class="col-xs-12 reset data-container">
    <div class="col-xs-12 reset data-header">
      <div class="col-xs-2">
        <span class="creator">
          Creator Name
        </span>
      </div>
      <div class="col-xs-1">
        Created On
      </div>
      <div class="col-xs-1">
        Amount
      </div>
      <div class="col-xs-1">
        Documents
      </div>
      <div class="col-xs-2">
        Status
      </div>
      <div class="col-xs-1">
        Type
      </div>
      <div class="col-xs-2">
        Comment
      </div>
      <div class="col-xs-2">
        Actions
      </div>
    </div>
    <div class="col-xs-12 reset data-body-container">
      <div class="col-xs-12 reset data text-red pl-30" *ngIf="ticketData.length === 0">
        * No data found
      </div>
      <div class="col-xs-12 reset data" *ngFor="let ticket of ticketData; let index = index;" [ngClass]="saerchResult(ticket)">
        <div class="col-xs-2">
          <i class="fa" [ngClass]="ticket.isFavourite === 'true'?'fa-star':'fa-star-o'" (click)="updateFavourite(ticket)"></i>
          {{ticket?.createdBy?.name}}
        </div>
        <div class="col-xs-1">
          {{ticket.createdOn}}
        </div>
        <div class="col-xs-1">
          <strong>{{toLocal(ticket?.amount)}}</strong>
        </div>
        <div class="col-xs-1">
          {{ticket?.evidenceDocs?.length}}
        </div>
        <div class="col-xs-2">
          {{displayNames[ticket.status]}}
        </div>
        <div class="col-xs-1 text-capitalize">
          {{ticket.type}}
        </div>
        <div class="col-xs-2">
          {{ticket.comment}}
        </div>
        <div class="col-xs-2 action">
          <span (click)="approveTicket(ticket)" title="Approve" *ngIf="(userType === 'manager' && ticket.status === displayKeys.pendingWithManager)
                                                                        || (userType === 'finance' && ticket.status === displayKeys.pendingWithFinance)">
            <i class="fa fa-check"></i>
          </span>
          <span (click)="returnForCorrectionTicket(ticket)" title="Correction" *ngIf="(userType === 'manager' && ticket.status === displayKeys.pendingWithManager)
                                                                                      || (userType === 'finance' && ticket.status === displayKeys.pendingWithFinance)">
            <i class="fa fa-repeat" aria-hidden="true"></i>
          </span>
          <span (click)="rejectTicket(ticket)" title="Reject" *ngIf="(userType === 'manager' && ticket.status === displayKeys.pendingWithManager)
                                                                    || (userType === 'finance' && ticket.status === displayKeys.pendingWithFinance)">
            <i class="fa fa-times"></i>
          </span>
          <span (click)="editTicket(ticket)" title="Edit" *ngIf="ticket.status === displayKeys.pendingForCorrection && ticket.createdBy.empId === loggedInUserId">
            <i class="fa fa-edit"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
