.all-container {
  min-height: calc(100vh - 240px);
}

.all-container .filter-container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.all-container .filter-container > div {
  flex: 1;
  min-height: 40px;
  line-height: normal;
  margin-right: 10px;
  padding: 5px 10px;
  padding-top: 8px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.all-container .filter-container > div:last-child {
  margin-right: 0;
}

.all-container .filter-container > div input {
  display: inline-block;
  padding-right: 10px;
}

.all-container .filter-container > div span {
  display: inline;
  padding-top: 2px;
  padding-left: 10px;
}

/* .all-container .filter-container > div.pendingWithFinance {
  background-color: rgba(144, 238, 144, 1);
}

.all-container .filter-container > div.rejected {
  background-color: rgba(238, 144, 144, 1);;
}

.all-container .filter-container > div.completed {
  background-color: rgba(0, 128, 0, 0.9);
  color: white;
} */

.all-container .data-container {
  margin-top: 10px;
}

.all-container .data-container .data-header {
  min-height: 40px;
  line-height: bold;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 0 0;
}

.all-container .data-container .data-header .creator {
  display: inline-block;
  padding-left: 24px;
}

.all-container .data-container .data-body-container {
  padding-bottom: 20px;
}

.all-container .data-container .data-body-container .data {
  min-width: 36px;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 1);
}

.all-container .data-container .data-body-container .data.hide-ticket {
  display: none !important;
}

.all-container .data-container .data-body-container .data i.fa.fa-star,
.all-container .data-container .data-body-container .data i.fa.fa-star-o {
  color: hsl(200, 100%, 50%);
  font-size: 22px;
  float: left;
  padding-right: 5px;
  cursor: pointer;
}

.all-container .data-container .data-body-container .data:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.5);
}

.all-container .data-container .data-body-containe .data:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.9);
}

.all-container .data-container .action .fa {
  height: 24px;
  color: #a8a8a8;
  width: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #e8e8e8;
  margin-right: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.all-container .data-container .action .fa:hover {
  color: white;
}

.all-container .data-container .action .fa.fa-check:hover {
  background-color: rgba(144, 238, 144, 1);
}

.all-container .data-container .action .fa.fa-repeat:hover {
  background-color: rgb(240, 173, 17);
}

.all-container .data-container .action .fa.fa-times:hover {
  background-color: rgba(238, 144, 144, 1);
}

.all-container .data-container .action .fa.fa-edit:hover {
  background-color: hsl(200, 100%, 50%);
}


/* New filter header */
.all-container .header {
  margin-bottom: 10px;
}

.all-container .header .search {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  height: 32px;
  width: 280px;
  background-color: white;
}

.all-container .header .search input {
  border: none;
  outline: none;
  width: 245px;
  background-color: transparent;
  border-radius: 20px;
  height: 30px;
  float: left;
  padding-left: 15px;
}

.all-container .header .search input::placeholder {
  color: #9f9f9f;
}

.all-container .header .search i.fa {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  float: right;
  color: #d8d8d8;
}

.all-container .header .is-fav {
  margin-top: 4px;
  width: 200px;
}

.all-container .header .is-fav strong {
  margin-top: 2px;
  display: inline-block;
  padding: 0 10px;
  float: left;
}

.all-container .header .all-my-requests .category-box {
  height: 32px;
  border-radius: 16px;
  text-align: center;
  border: 1px solid white;
  /* padding: 2px; */
  max-width: fit-content;
}

.all-container .header .all-my-requests .category-box .request {
  background-color:rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.3);
  padding: 5px 10px 5px 25px;
  height: 32px;
  line-height: 22px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.all-container .header .all-my-requests .category-box .request::before {
  content: '';
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  top: 9px;
  left: 9px;
}

.all-container .header .all-my-requests .category-box .request.active::before {
  background-color: rgba(0, 170, 255, 1);
  /* box-shadow: 0px 0px 5px 0px rgba(0, 170, 255, 0.3) 0px 0px 15px 0px rgba(0, 170, 255, 0.1); */
}

.all-container .header .all-my-requests .category-box .request.all {
  border-radius: 16px 0 0 16px;
}

.all-container .header .all-my-requests .category-box .request.my {
  border-radius: 0 16px 16px 0;
  padding-right: 15px;
}

.all-container .header .all-my-requests .category-box .request.active {
  background-color:rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.all-container .header .filters {
  padding-right: 20px;
  font-size: 16px;
  position: relative;
}

.all-container .header .filters > strong {
  padding-right: 10px;
}

.all-container .header .filters > i {
  font-size: 18px;
  margin-top: 5px;
}

.all-container .header .filters > .show-filters {
  position: absolute;
  width: 250px;
  height: auto;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  z-index: 5;
  right: 0px;
  top: 40px;
}

.all-container .header .filters > .show-filters ul {
  list-style: none;
  display: inline-block;
  padding: 0 0 5px 10px;
  float: left;
}

.all-container .header .filters > .show-filters ul li {
  height: 40px;
  line-height: 40px;
  text-align: left;
  display: block;
}

.all-container .header .filters > .show-filters ul li span {
  padding-left: 10px;
  display: inline-block;
}

/* ===== Switch CSS ====== */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
