<div class="col-xs-12 reset information-container-box">
  <div class="col-xs-12 reset title">
      <span>Information</span>
      <span (click)="closeDialog('closed')">
          <i class="fa fa-times" aria-hidden="true"></i>
      </span>
  </div>
  <div class="col-xs-12 reset information-container">
      <div class="col-xs-12 reset information-box">
          {{information.message}}
      </div>
  </div>
  <div class="col-xs-12 actions">
      <div class="close-popup" (click)="closeDialog('closed')">Close</div>
  </div>
</div>
