<div class="containter-fluid">
  <div class="col-xs-12 reset data-container">
    <div class="col-xs-6 reset left-container" [ngClass]="collapse ? 'slide' : ''">
      <app-left></app-left>
    </div>
    <div class="col-xs-6 reset right-container">
      <app-right></app-right>
    </div>
  </div>
</div>
<app-loading></app-loading>
