.data-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

.left-container,
.right-container {
  flex: 1;
  display: inline-block;
  min-height: 100vh;
}

.left-container {
  background-color: #f3f3f3;
  max-width: 250px;
  transition: all 0.3s ease-in-out;
}

.right-container {
  background-color: #cdcdcd;
}

.left-container.slide {
  width: 0 !important;
  flex: 0 !important;
}
