.create-container {
  min-height: calc(100vh - 240px);
}

.create-container .create-data {
  padding: 40px 10px 10px 10px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 10px;
}

.create-container .create-data .title {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  float: left;
  clear: both;
  padding-left: 70px;
  margin-bottom: 25px;
  margin-top: 0;
}

.create-container .user-actions .action-btn {
  border: 1px solid rgba(0,0,0,0.12);
  text-align: center;
  min-height: 32px;
  line-height: 32px;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 150px;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

.create-container .user-actions .action-btn:hover {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.12) inset;
}

.create-container .user-actions .action-btn.create {
  color: white !important;
  background-color: hsl(200, 100%, 50%);
}

.create-container .create-data > div {
  display: flex;
  margin: 20px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  clear: both;
}

.create-container .create-data > div > div:first-child {
  flex: 1;
  color: #333;
  min-width: 75px;
}

.create-container .evidence {
  width: 75px;
  flex: unset !important;
  display: inline-block;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.create-container .create-data > div > div:last-child {
  flex: 2;
}

.create-container .file-upload {
  width: calc(100% - 75px);
  flex: unset !important;
  display: inline-block;
}

.create-container .create-data > div textarea {
  resize: none;
}

.create-container .file-upload .file-upload-input {
  background-color: white;
  height: 40px;
  line-height: 40px;
  width: 100%;
  display: flex;
  padding: 9px 0 0 9px;
}

.create-container .file-upload-box {
  background-color: white;
  border: 2px dashed rgba(0,0,0,0.3);
  min-height: 200px;
  position: relative;
  overflow-y: auto;
  border-radius: 5px;
}

.create-container .file-upload-box .upload-files {
  min-height: 40px;
  line-height: 40px;
  border: 1px solid rgba(0,0,0,0.12);
  width: calc(100% - 10px);
  margin: 5px;
  border-radius: 5px;
}

.create-container .file-upload-box .upload-files:nth-child(odd) {
  background-color: #f8f8f8;
}

.create-container .file-upload-box .upload-files:nth-child(even) {
  background-color: #e8e8e8;
}

.create-container .file-upload-box .upload-files:hover {
  background-color: #f2f2f2;
}

.create-container .no-files {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.12);
  position: absolute;
  text-align: center;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-container .file-upload-container {
  padding: 10px;
  background: white;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.create-container .file-upload-container + div {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0 0 5px 5px;
  border-top: none;
  background-color: white;
  padding: 0 0 10px 10px;
}

.create-container .file-upload .file-upload-box.active {
  background-color: rgba(0,0,0,0.3);
  border-color: #333 !important;
}

.create-container .no-files i {
  color: #a8a8a8;
}

.create-container .validations {
  display: flex !important;
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 300px;
  min-height: 100px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end !important;
}

.create-container .validations .validation {
  min-height: 40px;
  width: max-content;
  padding: 15px 10px 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.12);
  background-color: white;
  font-weight: bold;
  opacity: 0;
  color: #dc3545 !important;
  margin-bottom: 20px;
  transform: translateX(100% + 50px);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
  animation: move 0.2s ease-out forwards;
}

.create-container .validations .validation:nth-child(1) {
  animation-delay: 0.1s;
}

.create-container .validations .validation:nth-child(2) {
  animation-delay: 0.2s;
}

.create-container .validations .validation:nth-child(3) {
  animation-delay: 0.3s;
}

.create-container .validations .validation:nth-child(4) {
  animation-delay: 0.4s;
}

.create-container .validations .validation:nth-child(5) {
  animation-delay: 0.5s;
}

.create-container .validations .validation:nth-child(6) {
  animation-delay: 0.6s;
}

.create-container .validations .validation:nth-child(7) {
  animation-delay: 0.7s;
}

@keyframes move {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.create-container .validations .validation .close {
  color: #333;
  font-size: 18px;
  padding-left: 15px;
  cursor: pointer;
}
