<div class="col-xs-12 reset create-container">
  <div class="col-xs-12 reset create-data">
    <div class="title">
      {{ticketType}} Expense
    </div>
    <div>
      <div class="label">Expense No:</div>
      <input type="text" class="form-control" [(ngModel)]="createTicket.id" readonly />
    </div>
    <div>
      <div class="label">Name:</div>
      <input type="text" class="form-control" [(ngModel)]="createTicket.createdBy.name" />
    </div>
    <div>
      <div class="label">Email:</div>
      <input type="email" class="form-control" [(ngModel)]="createTicket.createdBy.email" />
    </div>
    <div>
      <div class="label">Contact:</div>
      <input type="text" class="form-control" [(ngModel)]="createTicket.createdBy.contact" />
    </div>
    <div>
      <div class="label">Exp. Type:</div>
      <select class="form-control text-capitalize" [(ngModel)]="createTicket.type">
        <option class="text-capitalize" value=""></option>
        <option class="text-capitalize" value="transportation">transportation</option>
        <option class="text-capitalize" value="hotel">hotel</option>
        <option class="text-capitalize" value="meals">meals</option>
        <option class="text-capitalize" value="marketing">marketing</option>
        <option class="text-capitalize" value="miscellaneous">miscellaneous</option>
        <option class="text-capitalize" value="others">others</option>
      </select>
    </div>
    <div>
      <div class="label">Amount:</div>
      <input type="number" class="form-control" [(ngModel)]="createTicket.amount" />
    </div>
    <div>
      <div class="label">No of Docs:</div>
      <input type="number" class="form-control" [(ngModel)]="createTicket.evidenceDocs.length" readonly />
    </div>
    <div>
      <div class="col-xs-6 reset evidence">Evidence</div>
      <div class="col-xs-6 reset file-upload">
        <div class="file-upload-container">
          <div class="file-upload-box" appDragDrop (onFileDropped)="fileDrop($event)">
            <div class="col-xs-12 reset upload-files" *ngFor="let file of createTicket.evidenceDocs; let index = index;">
              <div class="col-xs-6">
                <span class="text-muted">File Name:</span>
                <span>
                  {{file.filename}}
                </span>
              </div>
              <div class="col-xs-6 reset text-center">
                <div class="col-xs-4">
                  <span class="text-muted">File Size:</span>
                  <span>
                    {{file.size}}
                  </span>
                </div>
                <div class="col-xs-4">
                  <span class="text-muted">File Type:</span>
                  <span>
                    {{file.extension}}
                  </span>
                </div>
                <div class="col-xs-4 text-right lh-40">
                  <i class="fa fa-trash close lh-40 text-red" (click)="removeFile(index)"></i>
                </div>
              </div>
            </div>
            <div class="no-files" *ngIf="createTicket.evidenceDocs.length === 0" (click)="clickUploadFile()">
              <i class="fa fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="btn btn-default" (click)="clickUploadFile()">
            Upload files...
          </div>
          <input type="file" class="file-upload-input" name="" id="fileUploadInput" multiple (change)="uploadFiles($event)" style="display:none;" />
        </div>
        <div>
          (Supported formats are: jpg, png, pdf)
        </div>
      </div>
    </div>
    <div>
      <div class="label">Comments:</div>
      <textarea col="20" rows="5" class="form-control" [(ngModel)]="createTicket.comment"></textarea>
    </div>

    <div class="user-actions">
      <div class="evidence"></div>
      <div>
        <div class="action-btn create" (click)="createOrUpdateTicket()">
          Create
        </div>
        <div class="action-btn clear" (click)="clearTicket()">
          Clear
        </div>
      </div>
    </div>

    <div class="validations" *ngIf="validations.length > 0">
      <div class="validation" *ngFor="let validation of validations; let index = index;">
        <span>
          {{validation.msg}}
        </span>
        <span class="close text-right pull-right" (click)="closeValidationTicket(index)">
          <i class="fa fa-times"></i>
        </span>
      </div>
    </div>
  </div>
</div>
