.task-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(240, 240, 240, 1);
  z-index: 5;
}

.task-popup .header {
  height: 40px;
}

.task-popup .header .back {
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}

.task-popup .header .back .back-text {
  padding-left: 5px;
}

.task-popup .header .back:hover i,
.task-popup .header .back:hover .back-text {
  color: #333;
}

.task-popup .header .close {
  padding-right: 20px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  float: right;
  cursor: pointer;
}

.task-popup .header .close:hover i {
  color: #333;
}

.task-popup .task-data {
  display: flex;
  padding: 0 20px;
}

.task-popup .task-data .tasks {
  flex: 1;
}

.task-popup .task-data .filters {
  flex: 1;
  max-width: 300px;
  padding-left: 20px;
}

.task-popup .task-data .tasks .title {
  font-size: 22px;
  padding: 10px;
}

.task-popup .task-data .tasks-container {
  height: calc(100vh - 100px);
  overflow-y: auto;
  padding-bottom: 200px;
}

.task-popup .task-data .tasks-container .task {
  background-color: #f2f2f2;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #d8d8d8;
}

.task-popup .task-data .tasks-container .task > div {
  display: inline-block;
  float: left;
}

.task-popup .task-data .tasks-container .task > div.image {
  height: 80px;
  width: 100px;
}

.task-popup .task-data .tasks-container .task > div.image img {
  width: 80px;
  border-radius: 50%;
}

.task-popup .task-data .tasks-container .task > div.task-info {
  width: calc(100% - 520px);
}

.task-popup .task-data .tasks-container .task > div.task-info .name {
  font-size: 18px;
  color: #333;
  padding-bottom: 5px;
}

.task-popup .task-data .tasks-container .task > div.task-info > div:not(.name) {
  font-size: 13px;
  color: #555;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents {
  position: relative;
  display: inline-block;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > span {
  text-decoration: underline;
  cursor: pointer;
  color: hsl(200, 100%, 50%);
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding-right: 30px;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up {
  position: absolute;
  top: -50px;
  left: 100px;
  width: 400px;
  border-radius: 5px;
  min-height: 200px;
  padding-left: 10px;
  max-height: 200px;
  z-index: 3;
  display: none;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up > div {
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up ::-webkit-scrollbar {
  width: 8px;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up .doc {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 5px;
  padding: 10px;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up .doc:last-child {
  border-bottom: none !important;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up .doc > div {
  flex: 1;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up .doc > div.action {
  max-width: 80px;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up .doc > div.action > div {
  color: white;
  background-color: hsl(200, 100%, 50%);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  cursor: pointer;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents > .doc-pop-up::after {
  content: '';
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  position: absolute;
  background-color: white;
  top: 55px;
  left: 5px;
}

.task-popup .task-data .tasks-container .task > div.task-info > .documents:hover > .doc-pop-up {
  display: block;
}

.task-popup .task-data .tasks-container .task > div.user-details {
  width: 320px;
}

.task-popup .task-data .tasks-container .task > div.user-details .name {
  font-size: 16px;
  padding-bottom: 5px;
}

.task-popup .task-data .tasks-container .task > div.user-details .email,
.task-popup .task-data .tasks-container .task > div.user-details .contact {
  font-size: 13px;
  color: #555;
}

.task-popup .task-data .tasks-container .task > div.actions {
  width: 100px;
  text-align: center;
}

.task-popup .task-data .tasks-container .task > div.actions .action {
  background-color: rgba(255, 150, 0, 1);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.task-popup .task-data .filters .title {
  font-size: 22px;
  padding: 10px;
}

.task-popup .task-data .filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task-popup .task-data .filters ul li {
  width: 100%;
  background-color: #f8f8f8;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 20px;
  cursor: pointer;
}

.task-popup .task-data .filters ul li.active {
  color: white;
  background-color: hsl(200, 100%, 50%);
}

.task-popup .task-data .filters ul li:not(.active):hover {
  background-color: #d8d8d8;
}

.task-popup .show-files {
  position: fixed;
  height: 80vh;
  width: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  box-shadow: 0px 0px 1000px 1000px rgba(0, 0, 0, 0.5);
}

.task-popup .show-files .close-file {
  height: 30px;
  line-height: 30px;
  padding-right: 10px;
  text-transform: uppercase;
  color: #9f9f9f;
  font-size: 16px;
  cursor: pointer;
}

.task-popup .show-files .close-file i {
  font-size: 18px;
  padding-left: 5px;
}

.task-popup .show-files .show-image,
.task-popup .show-files .show-pdf {
  overflow-y: auto;
  padding: 20px;
  background-color: #9f9f9f;
}

.task-popup .show-files .show-pdf embed {
  width: 100%;
  height: 70vh;
}
