<div class="col-xs-12 reset task-popup">
  <div class="col-xs-12 reset header">
    <div class="back" (click)="goBack()">
      <i class="fa fa-chevron-left text-muted"></i>
      <span class="text-muted back-text">Back</span>
    </div>
    <div class="close" (click)="goBack()">
      <i class="fa fa-times"></i>
    </div>
  </div>

  <div class="col-xs-12 reset task-data">
    <div class="tasks">
      <div class="title">
        Tasks ({{tasks.length}})
      </div>
      <div class="col-xs-12 reset tasks-container">
        <div class="col-xs-12 reset task" *ngFor="let task of tasks; let index = index;">
          <div class="image">
            <img src="./bpms/core/build/assets/images/user-m.png" alt="">
          </div>
          <div class="task-info">
            <div class="name">
              {{task.name}}
            </div>
            <div class="amount">
              Claim Amount:
              <strong>{{task.amount.toLocaleString()}}</strong>
            </div>
            <div class="date">
              Due Date:
              <strong>
                {{task.dueDate}}
              </strong>
            </div>
            <div>
              Comment:
              <strong>
                {{task.comment}}
              </strong>
            </div>
            <div class="documents">
              <span>
                Documents ({{task.evidenceDocs.length}})
              </span>
              <div class="doc-pop-up" *ngIf="task?.evidenceDocs.length > 0">
                <div class="col-xs-12 reset">
                  <div class="col-xs-12 reset doc" *ngFor="let doc of task.evidenceDocs; let i = index;">
                    <div class="doc-info">
                      <div>
                        File Name:
                        <strong>
                          {{doc?.filename}}
                        </strong>
                      </div>
                      <div>
                        Extension:
                        <strong>{{doc?.extension}}</strong>
                      </div>
                      <div>
                        File Size:
                        <strong>
                          {{doc?.size}}
                        </strong>
                      </div>
                    </div>
                    <div class="action">
                      <div (click)="showFilePopup(doc)">
                        View
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="user-details">
            <div class="name">
              {{task?.createdBy?.name}}
            </div>
            <div class="email">
              Email:
              <strong>{{task?.createdBy?.email}}</strong>
            </div>
            <div class="contact">
              Contact:
              <strong>
                {{task?.createdBy?.contact}}
              </strong>
            </div>
          </div>
          <div class="actions">
            <div class="action" (click)="openTicketForApproval(task, index)">
              Take Action
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filters">
      <div class="title">
        Filters
      </div>
      <ul>
        <li [ngClass]="days === 'all' ? 'active' : ''" (click)="setDaysAndGetTaskData('all')">All</li>
        <li [ngClass]="days === '1' ? 'active' : ''" (click)="setDaysAndGetTaskData('1')">Today</li>
        <li [ngClass]="days === '3' ? 'active' : ''" (click)="setDaysAndGetTaskData('3')">Last 3 Days</li>
        <li [ngClass]="days === '7' ? 'active' : ''" (click)="setDaysAndGetTaskData('7')">Last 7 Days</li>
        <li [ngClass]="days === '15' ? 'active' : ''" (click)="setDaysAndGetTaskData('15')">Last 15 Days</li>
      </ul>
    </div>
  </div>

  <div class="show-files" *ngIf="showFile">
    <div class="close-file text-right">
      <span (click)="closeFile()">Close</span>
      <i class="fa fa-times" (click)="closeFile()"></i>
    </div>
    <div class="show-image" *ngIf="imgUrl !== ''">
      <img [src]="imgUrl" alt="">
    </div>
    <div class="show-pdf" *ngIf="pdfUrl !== ''">
      <embed [src]="pdfUrl" type="" />
    </div>
  </div>

</div>
