.view-container {
  padding: 10px;
}

/* .view-container .date {
  margin-bottom: 10px;
}

.view-container .date .header {
  height: 40px;
  line-height: 40px;
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding-left: 10px;
  border-radius: 5px 5px 0 0;
} */

.view-container .filters .views {
  display: inline-block;
  padding-left: 25px;
  height: 40px;
  line-height: 40px;
  width: 170px;
}

.view-container .filters .is-fav {
  margin-top: 7px;
}

.view-container .filters .is-fav strong {
  margin-top: 2px;
  display: inline-block;
  padding: 0 10px;
  float: left;
}

.view-container .filters .views .name {
  font-weight: bold;
  padding-right: 15px;
  color: #333;
  display: inline-block;
}

.view-container .filters .views .layout {
  display: inline-block;
  color: hsl(200, 100%, 50%);
  background-color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  cursor: pointer;
}

.view-container .filters .views .layout.active,
.view-container .filters .views .layout:hover {
  color: white;
  background-color: hsl(200, 100%, 50%);
}

.view-container .filters .views .layout:first-child {
  margin-right: 10px;
  color: white;
}

.view-container .filters .is-fav {
  width: calc(100% - 460px)
}

.view-container .filters .search {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  height: 32px;
  width: 280px;
  background-color: white;
}

.view-container .filters .search input {
  border: none;
  outline: none;
  width: 245px;
  background-color: transparent;
  border-radius: 20px;
  height: 30px;
  float: left;
  padding-left: 15px;
}

.view-container .filters .search input::placeholder {
  color: #9f9f9f;
}

.view-container .filters .search i.fa {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  float: right;
  color: #d8d8d8;
}


.view-container .incident-container {
  padding: 10px;
  padding-top: 0;
  background-color: #f6f6f6;
  border-radius: 0 0 5px 5px;
}

.view-container .incident-container .item {
  display: inline-block;
  width: 200px;
  padding: 2px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.view-container .incident-container .item.hide-ticket {
  display: none !important;
}

.view-container .incident-container .item.rejected {
  border: 1px solid red;
}

.view-container .incident-container .item.rejected:hover {
  border-color: red !important;
}

.view-container .incident-container .item:hover {
  border-color: hsl(200, 100%, 50%);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.12);
}

.view-container .incident-container .item .amount {
  font-size: 3rem;
  text-align: center;
  background-color: rgba(0, 184, 255, 0.5);
  color: white;
  border-radius: 5px 5px 0 0;
  padding: 10px 0;
}

.view-container .incident-container .item .user {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-container .incident-container .item .type-container {
  padding: 5px;
}

.view-container .incident-container .item .type {
  text-align: center;
  width: auto;
  font-size: 1.5rem;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  height: 40px;
  line-height: 38px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: capitalize;
}

.view-container .incident-container .item .user .image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.view-container .incident-container .item .user .image img {
  width: 100%;
  background-size: cover;
}

.view-container .incident-container .item .user .name {
  font-size: 2rem;
  padding-top: 10px;
}

.view-container .incident-container .item .star {
  display: inline-block;
  color: hsl(200, 100%, 50%);
  font-size: 2.5rem;
  padding-left: 7px;
  cursor: pointer;
}

.view-container .incident-container .item .more {
  padding: 5px 15px;
  float: right;
  background-color: rgba(255, 150, 0, 0.7);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  display: inline-block;
  width: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.view-container .incident-container .item .more:hover {
  background-color: rgba(255, 150, 0, 1);
}

.view-container .filters {
  padding-top: 15px;
  background-color: #f6f6f6;
}





.view-container .incident-container .item-list {
  display: inline-block;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.view-container .incident-container .item-list.hide-ticket {
  display: none !important;
}

.view-container .incident-container .item-list.rejected {
  border: 1px solid red !important;
}

.view-container .incident-container .item-list:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.12);
}

.view-container .incident-container .item-list .amount {
  width: 20%;
  font-size: 2rem;
  color: rgba(0, 184, 255, 1);
  text-align: center;
  font-weight: bold;
}

.view-container .incident-container .item-list .user {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.view-container .incident-container .item-list .type-container {
  padding: 5px;
}

.view-container .incident-container .item-list .type {
  text-align: center;
  width: auto;
  /* font-size: 1.5rem; */
  margin-bottom: 5px;
  height: 40px;
  line-height: 38px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: capitalize;
}

.view-container .incident-container .item-list .user .image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.view-container .incident-container .item-list .user .image img {
  width: 100%;
  background-size: cover;
}

.view-container .incident-container .item-list .user .name {
  font-size: 2rem;
  padding-top: 10px;
}

.view-container .incident-container .item-list .star {
  display: inline-block;
  color: hsl(200, 100%, 50%);
  font-size: 2.5rem;
  padding-left: 7px;
  cursor: pointer;
}

.view-container .incident-container .item-list .type {
  width: 100%;
}

.view-container .incident-container .item-list .more {
  padding: 5px 15px;
  float: right;
  background-color: rgba(255, 150, 0, 0.7);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  display: inline-block;
  width: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 40px;
  line-height: 30px;
  cursor: pointer;
}

.view-container .incident-container .item-list .more:hover {
  background-color: rgba(255, 150, 0, 1);
}

.view-container .filters {
  padding-top: 15px;
  background-color: #f6f6f6;
}


/* ===== Switch CSS ====== */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
