<div class="col-xs-12 reset view-container">
  <div class="col-xs-12 reset filters">
    <div class="col-xs-6 reset views">
      <span class="name">
        Views:
      </span>
      <span class="layout" [ngClass]="layout === 'list' ? 'active': ''" title="List" (click)="layout='list'">
        <i class="fa fa-list"></i>
      </span>
      <span class="layout" [ngClass]="layout === 'tile' ? 'active': ''" title="Tiles" (click)="layout='tile'">
        <i class="fa fa-th-large"></i>
      </span>
    </div>
    <div class="col-xs-3 reset is-fav">
      <strong>
        Favourite Only:
      </strong>
      <label class="switch">
        <input type="checkbox" name="" id="" [(ngModel)]="onlyFav" (click)="updateTicketData()">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="col-xs-6 reset search text-right">
      <input type="text" placeholder="Search expense here..." [(ngModel)]="keySearch" />
      <i class="fa fa-search" *ngIf="keySearch === ''"></i>
      <i class="fa fa-times cp" *ngIf="keySearch !== ''" (click)="keySearch=''"></i>
    </div>
  </div>

  <div class="col-xs-12 reset incident-container" *ngIf="layout === 'tile'">
    <div class="no-data text-red" *ngIf="ticketData.length === 0">
      * No data found.
    </div>
    <div class="item {{inci.status}}" *ngFor="let inci of ticketData; let subIdx = index;" [ngClass]="saerchResult(inci)">
      <div class="amount">
        {{inci.amount.toLocaleString()}}
      </div>
      <div class="col-xs-12 user">
        <div class="image">
          <img src="./bpms/core/build/assets/images/user-m.png" alt="">
        </div>
        <div class="name">
          {{inci.createdBy.name}}
        </div>
      </div>
      <div class="col-xs-12 reset type-container">
        <div class="type">
          {{inci.type}}
        </div>
      </div>
      <div class="col-xs-12 reset">
        <div class="star" (click)="updateFavourite(inci)">
          <i class="fa" [ngClass]="inci.isFavourite === 'true' ? 'fa-star' : 'fa-star-o'"></i>
        </div>
        <div class="more" (click)="showMore(inci)">
          More...
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 reset incident-container" *ngIf="layout === 'list'">
    <div class="no-data text-red" *ngIf="ticketData.length === 0">
      * No data found.
    </div>
    <div class="item-list {{inci.status}}" *ngFor="let inci of ticketData; let subIdx = index;" [ngClass]="saerchResult(inci)">
      <div class="col-xs-1 reset flex-center h100px">
        <div class="star" (click)="updateFavourite(inci)">
          <i class="fa" [ngClass]="inci.isFavourite === 'true' ? 'fa-star' : 'fa-star-o'"></i>
        </div>
      </div>
      <div class="col-xs-3 reset flex-center h100px">
        <div class="name font-2">
          {{inci.createdBy.name}}
        </div>
      </div>
      <div class="col-xs-3 reset flex-center h100px">
        <div class="font-2">
          {{displayNames[inci.status]}}
        </div>
      </div>
      <div class="col-xs-1 reset type-container flex-center h100px">
        <div class="type font-2">
          {{inci.type}}
        </div>
      </div>
      <div class="col-xs-2 reset amount flex-center h100px">
        <div>
          {{inci.amount.toLocaleString()}}
        </div>
      </div>
      <div class="col-xs-1 reset flex-center h100px">
        <div class="more" (click)="showMore(inci)">
          More...
        </div>
      </div>
    </div>
  </div>
</div>
