<div class="col-xs-12 reset dashboard-header-container">
  <div class="col-xs-12 col-md-6 reset system">
    <div class="title">
      Reimbursement System Dashboard
    </div>
    <div class="address">
      <i class="fa fa-map-marker"></i>
      <span class="location">
        Lisbon, Portugal
      </span>
      <span class="map-link">
        (<a target="_blank" href="https://www.google.com/maps/place/Findmore/@38.7688116,-9.0996233,17z/data=!3m1!4b1!4m5!3m4!1s0xd193181520df21b:0x90356f7d89fcf000!8m2!3d38.7688074!4d-9.0974346" src="">Google Map</a>)
      </span>
      <div class="map">
        <img src="./bpms/core/build/assets/images/findmore_map.JPG" alt="">
      </div>
    </div>
  </div>
  <!-- <div class="col-xs-12 col-md-6 reset other-links">
    <div class="col-xs-12 reset actions">
      <div class="status-label pull-left">Statues</div>
      <div class="action">
        <i class="fa fa-plus"></i>
      </div>
      <div class="action">
        <i class="fa fa-edit"></i>
      </div>
      <div class="action">
        <i class="fa fa-trash-o"></i>
      </div>
    </div>
    <div class="col-xs-12 reset status">
      <span class="done"></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div> -->

  <div class="col-xs-12 col-md-6 reset findmore-logo">
    <img src="./bpms/core/build/assets/images/customer_logo.png" alt="">
  </div>

  <div class="col-xs-12 reset navigations">
    <ul>
      <li [ngClass]="activeTab === 'statistics' ? 'active' : ''" (click)="changeActiveTab('statistics')">
        Statistics Report
      </li>
      <li [ngClass]="activeTab === 'create' ? 'active' : ''" (click)="changeActiveTab('create')">
        Create/Edit Expense
      </li>
      <li [ngClass]="activeTab === 'view' ? 'active' : ''" (click)="changeActiveTab('view')" *ngIf="userType !== 'normal'">
        View Expense
      </li>
      <li [ngClass]="activeTab === 'approve' ? 'active' : ''" (click)="changeActiveTab('approve')" *ngIf="userType !== 'normal'">
        Approve Expense
      </li>
      <li [ngClass]="activeTab === 'all' ? 'active' : ''" (click)="changeActiveTab('all')">
        All Expenses
      </li>
    </ul>
  </div>

  <div class="col-xs-12 reset router-page">
    <router-outlet></router-outlet>
  </div>
</div>
