.dashboard-header-container {
  --color: hsl(180, 90%, 12%);
  --primary: hsl(200, 100%, 50%);
  background-color: white;
}

.dashboard-header-container .system {
  padding: 20px;
  padding-left: 25px;
}

.dashboard-header-container .system .title {
  font-size: 3rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--color);
}

.dashboard-header-container .system .address {
  font-size: 1.5rem;
  position: relative;
}

.dashboard-header-container .system .address i {
  color: rgba(255, 150, 0, 1);
  font-size: 2.5rem;
  padding-right: 5px;
}

.dashboard-header-container .system .address .location {
  text-transform: capitalize;
  color: var(--color);
}

.dashboard-header-container .system .address .map-link {
  display: inline-block;
  padding-left: 5px;
}

.dashboard-header-container .system .address .map-link a {
  text-decoration: none;
  cursor: pointer;
  color: var(--primary);
}

.dashboard-header-container .system .address .map-link a:hover {
  border-bottom: 1px solid var(--primary);
}

.dashboard-header-container .system .address .map {
  height: 225px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 35px;
  left: 150px;
  z-index: 1;
  display: none;
}

.dashboard-header-container .system .address .map::before {
  content: '';
  height: 0;
  width: 0;
  border-radius: 2px;
  border: 10px solid transparent;
  position: absolute;
  left: 12px;
  top: -20px;
  border-bottom-color: #d8d8d8;
}

.dashboard-header-container .system .address .map-link:hover + .map {
  display: block;
}

.dashboard-header-container .system .address .map img {
  width: 100%;
  height: 212.5px;
  background-size: cover;
  border-radius: 10px;
}

.dashboard-header-container .other-links {
  padding: 20px;
}

.dashboard-header-container .other-links .actions {
  text-align: right;
}

.dashboard-header-container .other-links .actions .status-label {
  height: 40px;
  line-height: 0px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  text-transform: capitalize;
  color: var(--color);
}

.dashboard-header-container .other-links .actions .action {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dashboard-header-container .other-links .actions .action i {
  color: #9f9f9f;
}

.dashboard-header-container .other-links .actions .action:hover {
  background-color: var(--primary);
}

.dashboard-header-container .other-links .actions .action:hover i {
  color: white;
}

.dashboard-header-container .other-links .status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  counter-reset: count;
}

.dashboard-header-container .other-links .status span {
  flex: 1;
  height: 8px;
  background-color: #f6f6f6;
  border: 1px solid var(--primary);
  margin-right: 40px;
  border-radius: 10px;
  position: relative;
}

.dashboard-header-container .other-links .status span.done {
  background-color: var(--primary);
}

.dashboard-header-container .other-links .status span::after {
  counter-increment: count;
  content: counter(count);
  position: absolute;
  top: -7.5px;
  right: -30px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.dashboard-header-container .other-links .status span.done::after {
  color: white;
  background-color: var(--primary);
  content: '\f00c';
  font-family: 'FontAwesome';
}

.dashboard-header-container .navigations {
  height: 40px;
  background-color: white;
  padding: 0 20px;
}

.dashboard-header-container .navigations ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dashboard-header-container .navigations ul li {
  display: inline-block;
  height: 40px;
  width: 135px;
  text-align: center;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.dashboard-header-container .navigations ul li.active {
  font-weight: bold;
}

.dashboard-header-container .navigations ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.dashboard-header-container .navigations ul li.active::after {
  bottom: 0px;
}

.dashboard-header-container .router-page {
  background-color: #cdcdcd;
  padding: 20px;
}

.findmore-logo {
  height: 72px;
  text-align: right;
  padding-right: 32px;
  padding-top: 20px;
}

.findmore-logo img {
  height: 175%;
}
