.left-data-container {
  height: 100vh;
  --color: hsl(180, 90%, 12%);
  transition: all 0.3s ease-in;
  overflow-y: auto;
}

.left-data-container.slide {
  transform: translateX(-250px);
  transition-delay: 1s;
}

.left-data-container .scroller {
  height: 100vh;
  min-height: 500px;
  overflow-y: auto;
}

.left-data-container .avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}

.left-data-container .avatar-container .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px 1px rgba(255, 150, 0, 1), 0 0 5px 2px rgba(255, 150, 0, 0.8), 0 0 5px 4px rgba(255, 150, 0, 0.5);
}

.left-data-container .avatar-container .avatar img {
  width: 100%;
  background-size: cover;
}

.left-data-container .avatar-container .name {
  padding-top: 30px;
  padding-bottom: 5px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1rem;
  text-transform: capitalize;
  color: var(--color);
}

.left-data-container .side-menu {
  padding-top: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.left-data-container .side-menu .title {
  padding-left: 20px;
  padding-bottom: 15px;
  font-weight: bold;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.left-data-container .side-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-data-container .side-menu ul li {
  height: 40px;
  line-height: 20px;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
}

.left-data-container .side-menu ul li::before {
  position: absolute;
  height: 40px;
  top: 0;
  left: 0;
  width: 5px;
  background-color: rgba(255, 150, 0, 1);
}

.left-data-container .side-menu ul li:hover {
  background-color: #cdcdcd;
}

.left-data-container .side-menu ul li:hover::before {
  content: '';
}

.left-data-container .side-menu ul li a {
  color: var(--color);
  text-decoration: none;
}

.left-data-container .side-menu ul li a i {
  display: inline-block;
  padding-right: 10px;
}

.left-data-container .side-menu ul li a .count {
  float: right;
  width: 40px;
  border-radius: 4px;
  background-color: rgba(255, 150, 0, 1);
  color: white;
  text-align: center;
}

.left-data-container .logo {
  position: absolute;
  bottom: 0;
}

.left-data-container .logo img {
  width: 100%;
  padding: 10px 50px;
}
