<div class="col-xs-12 reset left-data-container" [ngClass]="collapse ? 'slide' : ''">
  <div class="col-xs-12 reset scroller">
    <div class="col-xs-12 reset avatar-container">
      <div class="col-xs-12 reset avatar">
        <img src="./bpms/core/build/assets/images/user-m.png" alt="" *ngIf="userType === 'normal'">
        <img src="./bpms/core/build/assets/images/manager.png" alt="" *ngIf="userType === 'manager'">
        <img src="./bpms/core/build/assets/images/finance.png" alt="" *ngIf="userType === 'finance'">
      </div>
      <div class="name">
        {{fullName}}
      </div>
      <div class="designation">
        {{role}}
      </div>
    </div>

    <div class="col-xs-12 reset side-menu">
      <div class="title">
        Menu
      </div>
      <ul>
        <li (click)="gotoHome()">
          <a href="#">
            <i class="fa fa-home"></i>
            Home
          </a>
        </li>
        <li (click)="onlyFavouriots()">
          <a>
            <i class="fa fa-star-o"></i>
            Favorites
            <div class="count">{{favCount}}</div>
          </a>
        </li>
        <li (click)="gotoViewMyTasks()">
          <a>
            <i class="fa fa-envelope-open-o"></i>
            My Requests
            <div class="count">{{myRequestsCount}}</div>
          </a>
        </li>
        <li (click)="gotoTask()" *ngIf="userType !== 'normal'">
          <a>
            <i class="fa fa-tasks"></i>
            My Tasks
            <div class="count">{{myTasksCount}}</div>
          </a>
        </li>
        <li (click)="gotoNotification()">
          <a href="/?method=logout">
            <i class="fa fa-power-off"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 reset logo">
      <img src="./bpms/core/build/assets/images/FMDLogo.png" alt="">
    </div>
  </div>
</div>
