<div class="show-loader" #showLoading>
  <img src="./bpms/core/build/assets/images/loading.gif" alt="">
  <div>
    <span class="loading-percentage app-text-color" #loader style="display:none;">0</span>
    <span class="app-text-color" style="display:none;">%</span>
  </div>
</div>
