<div class="col-md-12 reset delegate-box-container">
  <div class="col-xs-12 reset title">
      Delegate Action
      <span (click)="closeDialog(false)">
          <i class="fa fa-times" aria-hidden="true"></i>
      </span>
  </div>
  <div class="col-xs-12 reset h-150 p-10">
    <div class="mes">
      Please select Delegate to:
    </div>
    <select class="form-control" [(ngModel)]="userId" (change)="updateUserId()">
      <option value="">Please select Delegate to</option>
      <option value="{{user}}" *ngFor="let user of userList; let index = index;">
        {{user}}
      </option>
    </select>
    <div class="error-msg text-red" *ngIf="showError">
      Please select delegate to.
    </div>
  </div>
  <div class="col-xs-12 actions">
      <div class="btn btn-info" (click)="closeDialog(true)">Delegate</div>
      <div class="btn btn-default" (click)="closeDialog(false)">Cancel</div>
  </div>
</div>
