<div class="right-data-container">
  <!-- <div class="col-xs-12 reset header">
    <div class="col-xs-1 reset collapse-btn" (click)="collapsibleLeftPanel()">
      <i class="fa" [ngClass]="collapse ? 'fa-chevron-right':'fa-chevron-left'"></i>
    </div>
    <div class="col-xs-8 reset search">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Please search here..." />
    </div>
    <div class="col-xs-3 reset links">
      <div class="notification-toggle" (click)="toggleNotification($event)">
        <i class="fa fa-info head"></i>
        <span class="head">
          Notifications
        </span>
        <div class="head count">{{getUnreadNotificationCount()}}</div>
        <div class="notification-bar">
          <div class="header">
            <i class="fa fa-info-circle"></i>
            <strong>
              Notifications -
            </strong>
            <span class="link" [ngClass]="notificationTab === 'all' ? 'active' : ''" (click)="updateNatificationTab('all')">All</span>
            <span>(</span>
            <span class="link" [ngClass]="notificationTab === 'false' ? 'active' : ''" (click)="updateNatificationTab('false')">Unread</span>
            <span>/</span>
            <span class="link" [ngClass]="notificationTab === 'true' ? 'active' : ''" (click)="updateNatificationTab('true')">Read</span>
            <span>)</span>
          </div>
          <div class="col-xs-12 reset notification-container">
            <div class="col-xs-12 reset text-red" *ngIf="notifications.length === 0">
              * No notifications found
            </div>
            <div class="col-xs-12 reset notification"
                *ngFor="let noti of notifications; let index = index;"
                [ngClass]="noti.isRead === 'false' ? 'unread-noti' : 'read-noti'">
              <div class="name">
                {{noti.name}}
              </div>
              <div class="ticket-id">
                Ticket No: {{noti.ticketId}}
              </div>
              <div class="date">
                Creation Date: {{noti.date}}
              </div>
              <div class="read" (click)="makeAsRead(noti)">
                Read
              </div>
            </div>
          </div>
        </div>
      </div>
      <div (click)="gotoTask()">
        <i class="fa fa-list"></i>
        <span>
          Tasks
        </span>
        <div class="count">7</div>
      </div>
      <div>
        <i class="fa fa-power-off"></i>
        <span>
          Sign Out
        </span>
      </div>
    </div>
  </div> -->
  <div class="col-xs-12 reset dashboard-header">
    <div class="col-xs-1 reset collapse-btn" (click)="collapsibleLeftPanel()">
      <i class="fa" [ngClass]="collapse ? 'fa-chevron-right':'fa-chevron-left'"></i>
    </div>
    <app-header></app-header>
  </div>
</div>
