.right-data-container {
  --size: 40;
  --primary: hsl(200, 100%, 50%);
  max-height: 100vh;
  overflow-y: auto;
}

.right-data-container .header {
  height: calc(var(--size) * 1px);
}

.right-data-container .header .collapse-btn {
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  line-height: calc(var(--size) * 1px);
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: var(--primary);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1) inset;
}

.right-data-container .header .search {
  width: calc(100% - var(--size) * 1px - 375px);
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  height: calc(var(--size) * 1px);
  display: flex;
  align-items: center;
}

.right-data-container .header .search i {
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  line-height: calc(var(--size) * 1px);
  text-align: center;
  color: var(--primary);
  font-size: 22px;
  float: left;
  padding-left: 10px;
}

.right-data-container .header .search input {
  outline: none;
  border: none;
  background-color: white;
  flex: 1;
  margin-right: 4px;
  height: calc(var(--size) * 0.8px);
}

.right-data-container .header .links {
  width: 375px;
  text-align: center;
  display: flex;
  padding-left: 10px;
}

.right-data-container .header .links > div {
  flex: 1;
  height: calc(var(--size) * 1px);
  padding-top: 10px;
  position: relative;
}

.right-data-container .header .links div i {
  display: inline-block;
  background-color: var(--primary);
  color: white;
  height: 20px;
  line-height: 20px;
  width: 25px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.right-data-container .header .links div span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  background-color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.right-data-container .header .links div .count {
  position: absolute;
  top: 2px;
  right: -10px;
  background-color: rgba(255, 150, 0, 1);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 8px;
  line-height: normal;
  border: 1px solid rgba(0,0,0,0.12);
}

.right-data-container .header .links div:nth-child(2) .count {
  right: 10px
}

.right-data-container .header .links .notification-toggle.open > .notification-bar {
  display: block;
}

.right-data-container .header .links .notification-bar {
  position: absolute;
  z-index: 2;
  display: block;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 5px;
  width: 350px;
  min-height: 100px;
  top: 40px;
  left: -229px;
  padding: 10px 5px 10px 10px;
  display: none;
}

.right-data-container .header .links .notification-bar ::-webkit-scrollbar {
  width: 8px;
}

.right-data-container .header .links .notification-bar ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.right-data-container .header .links .notification-bar ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.right-data-container .header .links .notification-bar ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.right-data-container .header .links .notification-bar::after {
  content: '';
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  position: absolute;
  background-color: white;
  border-top: 1px solid rgba(0,0,0,0.12);
  border-left: 1px solid rgba(0,0,0,0.12);
  top: -6px;
  right: 50px;
}

.right-data-container .header .links .notification-bar .header {
  color: #333;
  text-align-last: left;
}

.right-data-container .header .links .notification-bar .header i {
  background: transparent;
  color: #333;
  width: 20px;
  padding-left: 4px;
}

.right-data-container .header .links .notification-bar .header > span {
  padding: 1px;
}

.right-data-container .header .links .notification-bar .header > span.link {
  display: inline-block;
  color: #9f9f9f;
}

.right-data-container .header .links .notification-bar .header > span.link.active {
  color: hsl(200, 100%, 50%);
  text-decoration: underline;
}

.right-data-container .header .links .notification-bar .header > span.link:not(.active):hover {
  text-decoration: underline;
}

.right-data-container .header .links .notification-bar .notification-container {
  text-align: left;
  max-height: 300px;
  overflow-y: auto;
}

.right-data-container .header .links .notification-bar .notification-container .notification {
  padding: 10px 5px;
  min-height: 60px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  position: relative;
}

.right-data-container .header .links .notification-bar .notification-container .notification.unread-noti > div:not(.read) {
  font-weight: bold;
}

.right-data-container .header .links .notification-bar .notification-container .notification > div.ticket-id,
.right-data-container .header .links .notification-bar .notification-container .notification > div.date {
  font-size: 12px;
}

.right-data-container .header .links .notification-bar .notification-container .notification .read {
  border-radius: 20px;
  padding: 2px 15px;
  border: 1px solid rgba(0,0,0,0.12);
  display: inline-block;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

.right-data-container .header .links .notification-bar .notification-container .notification.unread-noti .read {
  color: white;
  background-color: rgba(255, 150, 0, 1);
}

.right-data-container .header .links .notification-bar .notification-container .notification.read-noti .read {
  color: #333;
  opacity: 0.7;
  pointer-events: none;
}

.right-data-container .dashboard-header {
  position: relative;
}

.right-data-container .dashboard-header .collapse-btn {
  position: absolute;
  left: 0;
  top: 0;
  height: 24px;
  line-height: 24px;
  width: 24px;
  text-align: center;
  border-bottom-right-radius: 7.5px;
  background-color: rgba(255, 150, 0, 1);
  color: white;
  cursor: pointer;
  z-index: 1;
}
