.page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin-top: 60px;
  height: calc(100vh - 80px);
}

.content {
  height: 300px;
  width: 100%;
  text-align: center;
}

.content .title {
  font-size: 48px;
  color: #1188ff;
}

.content .info {
  font-size: 22px;
  padding: 15px;
  color: #0a56a1;
}

.content .info > * {
  margin-left: 10px;
}
