@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
  box-sizing: border-box;
}

.reset {
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.text-red {
  color: red !important;
}

.p-10 {
  padding: 10px;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.h100px {
  height: 100px;
}

.lh-40 {
  line-height: 40px !important;
}

.cp {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-2 {
  font-size: 2rem;
}
