<div class="col-md-12 reset message-box-container">
  <div class="col-xs-12 reset title">
      Information
      <span (click)="closeDialog()">
          <i class="fa fa-times" aria-hidden="true"></i>
      </span>
  </div>
  <div class="col-xs-12 reset message">
      {{message}}
  </div>
  <div class="col-xs-12 actions">
      <div class="close-popup" (click)="closeDialog()">OK</div>
  </div>
</div>
