.progress-ring-circle {
  --PI: 3.141592653589793;
  --radius: 52;
  --percent: 0;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: red;
  stroke-width: 10;
  fill: transparent;
  stroke-linecap: round;
  stroke-dasharray: calc(2 * var(--radius) * var(--PI) * 1px)
    calc(2 * var(--radius) * var(--PI) * 1px);
  stroke-dashoffset: calc(calc(2 * var(--radius) * var(--PI) - var(--percent) / 100 * 2 * var(--radius) * var(--PI)) * 1px);
  transition: 0.35s stroke-dashoffset;
}

.progress-ring-circle.success {
  stroke: #28a745;
}

.progress-ring-circle.danger {
  stroke: #dc3545;
}

.progress-ring-circle.info {
  stroke: #17a2b8;
}

.progress-ring-circle.bg {
  --percent: 100;
  stroke:rgba(255, 255, 255, 0.3);
}

.percentage.total {
  fill: rgba(255, 255, 255, 0.85);
  font-size: 3rem;
  font-weight: bold;
}

.graph {
  min-height: 180px;
}

.legend {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.75);
  color: hsl(180, 90%, 12%);
  width: 90%;
  margin: auto;
}

.statistics-container .statistics-graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.days .day {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: white;
  font-weight: normal;
  text-transform: capitalize;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.days .day.active {
  opacity: 1;
}

.statistics-container .data-container {
  padding: 30px 15px 15px 15px;
}

.statistics-container .data-container .header {
  background-color: #555;
  color: white;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.statistics-container .data-container .data {
  height: 40px;
  line-height: 40px;
  border-bottom: rgba(0, 0, 0, 0.12);
  background-color: #f2f2f2;
  margin-bottom: 5px;
  border-radius: 4px;
}

.statistics-container .data-container .data:hover {
  background-color: white;
}

.statistics-container .data-container .other-links {
  padding-left: 50px;
}

.statistics-container .data-container .other-links .links {
  min-height: 40px;
  line-height: 40px;
  border-bottom: rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  color: white;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.statistics-container .data-container .other-links .links.create {
  background-color: #17a2b8;
}

.statistics-container .data-container .other-links .links.correction {
  background-color: #ffc107;
}

.statistics-container .data-container .other-links .links.view {
  background-color: #28a745;
}

.statistics-container .data-container .other-links .links.rejected {
  background-color: #dc3545;
}
