<div class="col-xs-12 reset statistics-container">

  <div class="col-xs-12 reset statistics-graph-container">
    <div class="col-xs-12 col-md-6 reset graph">
      <div class="col-xs-4 reset text-center">
        <svg class="progress-ring" width="120" height="120">
          <circle
            class="progress-ring-circle info"
            id="firstPt"
            r="52"
            cx="60"
            cy="60"
          />
          <circle
            class="progress-ring-circle bg"
            r="52"
            cx="60"
            cy="60"
          />
          <text x="45" y="70" class="percentage total" *ngIf="percentage.firstPt <= 9">{{percentage.firstPt}}%</text>
          <text x="35" y="70" class="percentage total" *ngIf="percentage.firstPt > 9 && percentage.firstPt < 100">{{percentage.firstPt}}%</text>
          <text x="25" y="70" class="percentage total" *ngIf="percentage.firstPt == 100">{{percentage.firstPt}}%</text>
        </svg>
        <div class="legend">
          Manager Approved <br/>{{managerApproveTickets}} out of {{totalTickets}}
        </div>
      </div>
      <div class="col-xs-4 reset text-center">
        <svg class="progress-ring" width="120" height="120">
          <circle
            class="progress-ring-circle success"
            id="secondPt"
            r="52"
            cx="60"
            cy="60"
          />
          <circle
            class="progress-ring-circle bg"
            r="52"
            cx="60"
            cy="60"
          />
          <text x="45" y="70" class="percentage total" *ngIf="percentage.secondPt <= 9">{{percentage.secondPt}}%</text>
          <text x="35" y="70" class="percentage total" *ngIf="percentage.secondPt > 9 && percentage.secondPt < 100">{{percentage.secondPt}}%</text>
          <text x="25" y="70" class="percentage total" *ngIf="percentage.secondPt == 100">{{percentage.secondPt}}%</text>
        </svg>
        <div class="legend">
          Finance Approved <br/>{{financeApproveTickets}} out of {{totalTickets}}
        </div>
      </div>
      <div class="col-xs-4 reset text-center">
        <svg class="progress-ring" width="120" height="120">
          <circle
            class="progress-ring-circle danger"
            id="thirdPt"
            r="52"
            cx="60"
            cy="60"
          />
          <circle
            class="progress-ring-circle bg"
            r="52"
            cx="60"
            cy="60"
          />
          <text x="45" y="70" class="percentage total" *ngIf="percentage.thirdPt <= 9">{{percentage.thirdPt}}%</text>
          <text x="35" y="70" class="percentage total" *ngIf="percentage.thirdPt > 9 && percentage.thirdPt < 100">{{percentage.thirdPt}}%</text>
          <text x="25" y="70" class="percentage total" *ngIf="percentage.thirdPt == 100">{{percentage.thirdPt}}%</text>
        </svg>
        <div class="legend">
          Manager/Finance Rejected <br/>{{rejectedTickets}} out of {{totalTickets}}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 reset graph text-center">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>

      <div class="col-xs-12 reset">
        <div class="days">
          <span class="day" [ngClass]="days === 7 ? 'active':''" (click)="updateDays(7)">7 Days</span>
          <span class="day" [ngClass]="days === 15 ? 'active':''" (click)="updateDays(15)">15 Days</span>
          <span class="day" [ngClass]="days === 30 ? 'active':''" (click)="updateDays(30)">30 Days</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 reset data-container">
    <div class="col-xs-9 reset">
      <div class="col-xs-12 reset header">
        <div class="col-xs-3">Total Request</div>
        <div class="col-xs-3">Approved</div>
        <div class="col-xs-3">Rejected</div>
        <div class="col-xs-3">Date</div>
      </div>
      <div class="col-xs-12 reset data" *ngFor="let data of barChartData[0].data; let index = index;">
        <div class="col-xs-3">{{data}}</div>
        <div class="col-xs-3">{{getPrecision(barChartData[1].data[index])}}</div>
        <div class="col-xs-3">{{getPrecision(barChartData[2].data[index])}}</div>
        <div class="col-xs-3">{{barChartLabels[index]}}</div>
      </div>
    </div>
    <div class="col-xs-3 reset other-links">
      <div class="links create" (click)="gotoCreateTicket()">
        Create New Expense
      </div>
      <div class="links view" (click)="gotoViewTicket()">
        {{userType === 'normal' ? 'All' : 'View'}} Ticket Statuses
      </div>
      <div class="links correction" (click)="gotoAllTicket('correction')" *ngIf="userType === 'normal'">
        Return For Correction Expenses
      </div>
      <div class="links rejected" (click)="gotoAllTicket('rejected')">
        Rejected Expenses
      </div>
    </div>
  </div>
</div>
